{% extends '::base.html.twig' %}
{% block title %}Registro{% endblock %}
{% block body %}
    <div class="content">
        <div class="container">
            <div class="register">
                <form method="post" style="margin: 0 auto 0 auto;" action="{{ path('toosistemadeventas_registro') }}">
                    <div class="register-top-grid"  style="margin: 0 auto 0 auto; text-align: center;">
                        <div class="contact_form" id="contact_form"  >
                            <ul style="margin: 0 auto 0 auto;">
                                {% for flashMessage in app.session.flashbag.get('credencial') %}
                                    <script>
                                        window.onload = function error(){
                                            alertify.error("{{ flashMessage }}.");
                                            return false;
                                        }
                                    </script>
                                {% endfor %}
                                {% for flashMessage in app.session.flashbag.get('exito') %}
                                    <script>
                                        window.onload = function notificacion(){
                                            alertify.log("{{ flashMessage }}.");
                                            return false;
                                        }
                                    </script>
                                {% endfor %}
                                <li>
                                    <h2>REGISTRO DE USUARIO</h2>

                                </li>

                                <li>
                                    <label><span>Nombres*</span></label>
                                    <input type="text" required name="nombre">
                                </li>
                                <li>
                                    <label><span>Apellidos*</span></label>
                                    <input type="text" required name="apellido">
                                </li>
                                <li>
                                    <label><span>Email*</span></label>
                                    <input type="email" required name="email">
                                </li>
                                <li>
                                    <label> <span>Usuario*</span></label>
                                    <input type="text" required name="usuario">
                                </li>
                                <li>
                                    <label><span>Contraseña*</span></label>
                                    <input type="password" required name="pass">
                                </li>
                                <li>
                                    <label><span>Telefono*</span></label>
                                    <input type="text"  required name="telefono">
                                </li>
                                <li>
                                    <label><span>Pais*</span></label>
                                    <input type="text"  required name="pais">
                                </li>
                                <li>
                                    <label><span>Codigo Postal*</span></label>
                                    <input type="text"  required name="postal">
                                </li>
                            </ul>
                            <div class="clearfix"> </div>
                            <button type="submit">Registrar</button>

                        </div>



                    </div>

                </form>
            </div>
        </div>
    </div>
{% endblock body %}
