{% extends '::base.html.twig' %}
{% block title %}Registro{% endblock %}
{% block body %}
    <div class="content">
        <div class="container">
            <div class="register">
                <form method="post" style="margin: 0 auto 0 auto;" action="{{ path('toosistemadeventas_registro') }}">
                    <div class="register-top-grid"  style="margin: 0 auto 0 auto; text-align: center;">


                        <div class="contact_form" id="contact_form"  >
                            <ul style="margin: 0 auto 0 auto;">
                                <li>
                                    <h2>REGISTRO DE USUARIO</h2>

                                </li>

                                <li>
                                    <label><span>Nombres*</span></label>
                                    <input type="text" required name="nombre">
                                </li>
                                <li>
                                    <label><span>Apellidos*</span></label>
                                    <input type="text" required name="apellido">
                                </li>
                                <li>
                                    <label><span>Email*</span></label>
                                    <input type="email" required name="email">
                                </li>
                                <li>
                                    <label> <span>Usuario*</span></label>
                                    <input type="text" required name="usuario">
                                </li>
                                <li>
                                    <label><span>Contraseña*</span></label>
                                    <input type="password" required name="pass">
                                </li>
                            </ul>
                            <div class="clearfix"> </div>
                            <button type="submit">Registrar</button>

                        </div>



                    </div>

                </form>
            </div>
        </div>
    </div>
{% endblock body %}
