{% extends '::base.html.twig' %}
{% block title %}Registro{% endblock %}
{% block body %}
    <div class="content">
        <div class="container">
            <div class="register">
                <form method="post" style="margin: 0 auto 0 auto;" action="{{ path('milton') }}">
                    <div class="register-top-grid"  style="margin: 0 auto 0 auto; text-align: center;">
                        <h3>REGISTRO DE USUARIO</h3>
                        <div class="mation">

                            <span>Subir archivo<label>*</label></span>
                            <input type="file" name="archivo">
                        </div>

                        <div class="clearfix"> </div>
                        <button type="submit">Subir</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
{% endblock body %}