{% extends '::baseAnonimo.html.twig' %}
{% block title %}Dado de Baja{% endblock %}
{% block body %}

    <div class="content">
        <div class="container" style="height: auto;">
            <br><br><br><br>
            <h2 style="color: #FD1E01;">***Este usuario a sido dado de baja, por lo tanto no puede acceder al Sistema***</h2>
            <hr/>
            <br><br>
            <div style="margin: 0 auto 0 auto; width: 300px; font-size: 30px;">
                <a href="{{ path('logout') }}" title="Reporte" class="btn btn-default" style="background: #5FC902;color: #ffffff; height: 50px; width: 300px; font-size: 25px;">Volver al inicio</a>
            </div>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
        </div>
    </div>

{% endblock body %}