{% extends '::baseAdmin.html.twig' %}
{% block title %}Reportes!!{% endblock %}
{% block active8 %}class="active"{% endblock active8 %}
{% block body %}

<div class="content">
    <div class="container" style="height: auto;">
        <h1>Reportes</h1>

        <hr/>
        <div style=" width: 300px;; margin: 0 auto 0 auto; text-align: center;">
            <a href="{{ path('reporteClientes') }}" title="Reporte" class="btn btn-default" style="background: #AAA501;color: #ffffff; height: 50px; width: 300px;">Generar Reporte de Clientes</a>
            <br><br>
            <a href="{{ path('reporteExistencias') }}" title="Reporte" class="btn btn-default" style="background: #5FC902;color: #ffffff; height: 50px; width: 300px;">Generar Reporte de Inventario</a>
            <br><br>
            <a href="{{ path('reporteExistencias') }}" title="Reporte" class="btn btn-default" style="background: #BF3A01;color: #ffffff; height: 50px; width: 300px;">Generar Reporte de Devoluciones</a>
            <br><br>
            <a href="{{ path('reporteVentas') }}" title="Reporte" class="btn btn-default" style="background: #0186AA;color: #ffffff; height: 50px; width: 300px;">Generar Reporte de Ventas</a>
        </div>
       </div>
    <br>

</div>

{% endblock body %}
